.git
.env
.cache
scripts/ssh.sh
*.uuid
.nixos-switch.log
*.DS_Store
home/hammerspoon/Spoons/EmmyLua.spoon/annotations
config/jj/repos/**/*
config/herdr/session.json
config/herdr/release-notes.json
*.backup
