@import url("./colors.css");

* {
    box-sizing: border-box;
}

body {
    font-family: IosevkaPatrick Nerd Font;
    padding: 20px;
    background: var(--bg);
    color: var(--fg);
}

header {
    padding: 5px;
    margin: 10px 0px;
    font-size: 13px;
    text-align: center;
    background: var(--dark-green);
    color: var(--fg);
}

footer {
    padding: 20px;
    margin: 10px 0px;
    text-align: center;
    background: var(--dark-green);
    margin-top: 20px;
}
