output "DP-1" {
    position x=0 y=100
    background-color "#17130b"
}

// Main monitor
output "DP-2" {
    position x=1920 y=0
    background-color "#17130b"
}

output "DP-3" {
    transform "270" // make vertical
    position x=4480 y=0
    background-color "#17130b"
}

workspace "main" { open-on-output "DP-2"; }
workspace "web" { open-on-output "DP-2"; }
workspace "video" { open-on-output "DP-1"; }
workspace "music" { open-on-output "DP-1"; }
workspace "chat" { open-on-output "DP-1"; }
