@define-color dark-brown #24211E;
@define-color brown #443e39;
@define-color light-brown #645c53;
@define-color tan #D7C484;
@define-color green #77824A;
@define-color dark-green #444A2B;
@define-color orange #BB7844;
@define-color dark-orange #B36B42;
@define-color teal #5F865F;
@define-color yellow #C9A654;
@define-color red #B3664D;

* {
    border: none;
    /* border-radius: 4px; */
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Patrick", Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    color: @tan;
}

#workspaces {
    background-color: @dark-green;
}

#workspaces button {
    padding: 0 10px;
    color: @tan;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: inherit;
    border-radius: inherit;
}

#workspaces button.empty { color: @light-brown; }
#workspaces button.active { color: @teal; }
#workspaces button.focused { color: @green; }
#workspaces button.urgent { color: @red; }

#mode { background-color: #64727D; }

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#wireplumber,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    color: #000000;
    border-radius: 10px;
}

#window,
#workspaces {
    margin: 6px 3px;
    border-radius: 10px;
}

#window {
    background-color: @teal;
    padding: 0 10px;
}

window#waybar.empty #window { background-color: rgba(0, 0, 0, 0.9); }

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces { margin-left: 3px; }

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces { margin-right: 3px; }

#clock {
    color: @tan;
    background-color: @red;
}

#battery {
    color: @tan;
}

#battery.charging {
    color: @tan;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @tan;
}

label:focus { background-color: #000000; }

#cpu { color: @tan; }
#memory { color: @tan; }
#backlight { color: @tan; }

#network {
    color: @tan;
    background-color: #66cc99;
    color: #2a5c45;
}

#network.disconnected { background-color: @red; }

#wireplumber {
    color: @tan;
    background-color: @orange;
}

#pulseaudio {
    color: @tan;
}

#pulseaudio.muted {
    color: @red;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature { background-color: #f0932b; }
#temperature.critical { background-color: #eb4d4b; }
#tray { background-color: #2d3436; }
#idle_inhibitor { background-color: #2d3436; }

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: #bbccdd;
    color: #333333;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}
